# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.DS_Store
!golang_talk/src/github.com/jaegerpicker
golang_talk/src/github.com/bradfitz
golang_talk/src/github.com/codegangsta
golang_talk/src/github.com/davecgh
golang_talk/src/github.com/davecheney
golang_talk/src/github.com/go-martini
golang_talk/src/github.com/go-sql-driver
golang_talk/src/github.com/jinzhu
golang_talk/src/github.com/jstemmer
golang_talk/src/github.com/kisielk
golang_talk/src/github.com/kr
golang_talk/src/github.com/lib
golang_talk/src/github.com/martini-contrib
golang_talk/src/github.com/pkg
golang_talk/src/github.com/yvasiyarov
golang_talk/src/code.google.com
golang_talk/src/gopkg.in
bin
.govenv
pkg
.python_example
node_modules
!nodejs_example
